body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
}

label {
    font-size: 0.8em;
}

input {
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
    width: 10em;
}

button {
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
}


.title {
    font-size: 1.5em;
}

.people-list {
    border-style: solid;
    border-radius: 1em;
    border-color: green;
    padding: 1em;
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.25em;
}

#peopleList {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    padding: 1em;
    min-width: 10em;

    background-color: white;
    color: green;
}

.person {
    border-radius: 0.25em;
    padding: 0.25em;
    margin-top: 0.5em;
    font-weight: 700;
    text-decoration: underline;
}

.person:hover {
    background-color: green;
    color: white;
}

.people-list button:first-of-type {
    margin-top: 1em;
}

.edit-form {
    border-style: solid;
    border-radius: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.25em;
    align-items: stretch;
}

.edit-form button:first-of-type {
    margin-top: 1em;
}

.danger {
    background-color: lightcoral;
}

.secondary {
    border: none;
    border-radius: 0.25em;
    border-width: 1px;

    background: none;
    color: white;
}

.vertical-pad {
    margin-top: 1em;
}